:root {
    --color-primary:#6a92ff;
    --color-secundary:#253359;
    --color-dark:#222;
    --color-light:#F9F9F9;
    --color-highlight:#FFF;
}

* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', serif;
    font-size: 16px;
    background: var(--color-light);
}

button, a {
    text-decoration: none;
    outline: none;
    border: none;
    background: none;
    color: var(--color-dark);
}

a,p,h1,h2,h3,h4,h5,h6 {
    color: var(--color-primary);
}

.container {
    max-width: 1024px;
    margin: 0 auto;
}

.title-header {
    width: 100%;
    margin-top: 25px;
    padding: 45px 20px;
    line-height: 38px;
    text-align: left;
}

body.home-page .title-header {
    text-align: center;
}

.title-header .version {
    font-size: 0.64em;
    color: #BBB;
    text-align: right;
}

.title {
    font-weight: bold;
    font-size: 1.4em;
    text-transform: uppercase;
}

.btn {
    padding: 10px 20px;
    text-transform: uppercase;
    background: var(--color-secundary);
    border-radius: 5px;
    cursor: pointer;
    opacity: .76;
    transition: .3s;
    font-size: .84em;
    max-width: bolder;
    margin: 0 .6em;
    color: var(--color-highlight);
    box-shadow: 0px 3px 10px -13px rgba(77, 77, 77, 0.74);
}

.btn:hover {
    opacity: 1;
}


.btn.primary {
    background: var(--color-primary);
    color: #FFF;
}

.actions {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 25px 10px;
}

.input-element {
    border: none;
    padding: 10px;
    margin:0 1em;
    box-shadow: 0px 3px 10px -13px rgba(77, 77, 77, 0.74);
    background: #FFF;
    max-width: 500px;
}

.input-area {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 1em 0em;
}

.form-element {
    padding:20px 10px;
    display: flex;
    flex-direction: column;
}


.form-footer {
    padding: 30px .2em;
    margin: 0;
    border-bottom:solid 1px var(--color-highlight);
}

.label-element {
    font-size: .94em;
    margin:0 1em;
    font-weight: bold;
}
